In [12]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
import numpy as np

In [13]:
data_df = pd.read_csv('data_interpolated.csv', encoding='utf-8-sig')
print(data_df.shape)
data_df.head()

(33029, 638)

,k_2_by,k_4_by,k_6_by,k_8_by,k_22_by,k_23_by,k_24_by,k_25_by,k_26_by,k_28_by,...,e_323,e_326,e_329,e_330,e_332,e_334,e_343,person_id,birth_year,death_year
0,763.0,940.0,993.0,770.0,643.5,764.0,683.5,758.5,758.5,756.5,...,1063.5,1055.5,1077.5,1093.0,1057.0,1072.0,1079.0,1,1042.0,1104.0
1,676.0,853.0,906.0,683.0,556.5,677.0,596.5,671.5,671.5,669.5,...,976.5,968.5,990.5,1006.0,970.0,985.0,992.0,4,955.0,1018.0
2,655.0,832.0,885.0,662.0,535.5,656.0,575.5,650.5,650.5,648.5,...,955.5,947.5,969.5,985.0,949.0,964.0,971.0,6,934.0,1004.0
3,826.0,1003.0,1056.0,833.0,706.5,827.0,746.5,821.5,821.5,819.5,...,1126.5,1118.5,1140.5,1156.0,1120.0,1135.0,1142.0,11,1105.0,1180.0
4,770.0,947.0,1000.0,777.0,650.5,771.0,690.5,765.5,765.5,763.5,...,1070.5,1062.5,1084.5,1100.0,1064.0,1079.0,1086.0,13,1049.0,1106.0

In [14]:
# Save 5% of data as validation set, save the validation set as a separate file. Then remove the validation set from data_df.
train_df, val_df = train_test_split(data_df, test_size=0.05, random_state=42)
val_df.to_csv('validation_set.csv', index=False)
data_df = train_df

In [15]:
X = data_df.drop(['person_id', 'birth_year'], axis=1)
y = data_df['birth_year']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)


xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.8, learning_rate = 0.2,
                max_depth = 7, alpha = 10, n_estimators = 200)

xg_reg.fit(X_train, y_train)

preds = xg_reg.predict(X_test)

rmse = np.sqrt(mean_squared_error(y_test, preds))

print("RMSE: %f" % (rmse))

mae = mean_absolute_error(y_test, preds)

print("MAE: %f" % (mae))

r2 = r2_score(y_test, preds)

print("R2: %f" % (r2))

RMSE: 1.092112
MAE: 0.460564
R2: 0.999991