In [1]:
import pyodbc
import pandas as pd

In [6]:
# get a list from validation_set.csv, the person_id column
validation_set = pd.read_csv('validation_set.csv',encoding='utf-8-sig')
validation_set = validation_set['person_id'].tolist()
print(validation_set[:10])

[62632, 34345, 206202, 142346, 131203, 66653, 145595, 140735, 101432, 203495]

In [2]:
# Connect to the database
mdb_file = '99_compare_model_and_rules\\CBDB_20240208_DATA1.mdb'
conn_str = (r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
            f'DBQ={mdb_file};')

In [5]:
sql = "SELECT * FROM ALTNAME_CODES;"
with pyodbc.connect(conn_str) as conn:
    df = pd.read_sql(sql, conn)
df.head()

,c_name_type_code,c_name_type_desc,c_name_type_desc_chn
0,-1,[Missing Data],[Missing Data]
1,0,Unknown,未詳
2,3,"Alternate Personal Name, Previously Used Name",别名、曾用名
3,4,Courtesy name,字
4,5,"Studio name, Style name",室名、別號